<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
         backupGlobals="false"
         verbose="true"
         colors="true"
         cacheResult="true"
         cacheResultFile="./../../.phpunit/result.cache">
    <testsuites>
        <testsuite name="GoogleAuthenticator Test Suite">
            <directory suffix="Test.php">./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./../../src</directory>
            <exclude>
                <directory>./../../src/Exception</directory>
                <directory>./../../src/tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
